{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="listings">
        {% for listing in listings %}
            <a href="{% url 'listing' listing.id %}">
                <div class="container" style="display: flex; margin-bottom: 50px;">
                    <div class="img-sec" style="margin-right: 100px;">
                        {% if listing.picture_url %}
                            <img src="{{ listing.picture_url }}" alt="" width="150" height="150">
                        {% else %}
                            <img src="{% static 'auctions/img.png' %}" alt="" width="150" height="150">
                        {% endif %}
                        
                    </div>
                    <div class="content-sec">
                        <h3>{{ listing.name }}</h3>
                        <h5>Price: ${{ listing.price }}</h5>
                        {% if listing.category %}
                            <h5>Category: {{ listing.category }}</h5>
                        {% endif %}
                        {% if listing.description %}
                            <p>Description: {{ listing.description }}</p>
                        {% endif %}
                        <i>Created {{ listing.created_on }} by {{ listing.user_upload }}</i>
                    </div>
                </div>
            </a>
        {% empty %}
            Empty listings
        {% endfor %}
    </div>
    
{% endblock %}