{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ listing.name }}</h2>
    {% if user_id is not None %}
        {% if is_in_watchlist %}
            <div class="button">
                This item is in your watch list
            </div>
            <form action="{% url 'removefromwatchlist' %}" method="post">
                {% csrf_token %}
                <input type="text" value="{{ listing.id }}" name="listing_id" id="listing_id" hidden>
                <input type="submit" value="Remove from Watch List">
            </form>
        {% else %}
            <form action="{% url 'addtowatchlist' %}" method="post">
                {% csrf_token %}
                <input type="text" value="{{ listing.id }}" name="listing_id" id="listing_id" hidden>
                <input type="submit" value="Add to Watch List">
            </form>
        {% endif %}
    {% endif %}
    
    {% if listing.picture_url %}
        <img src="{{ listing.picture_url }}" width="150">
    {% else %}
        <img src="{% static 'auctions/img.png' %}" width="150">
    {% endif %}
    <p>{{ listing.description }}</p>
    <h4>${{ listing.price }}</h4>
    <sub>{{ listing.bidding_times }} bid(s) sofar.</sub>

    {% if msg %}
        <p><b>{{ msg }}</b></p>
    {% endif %}

    {% if listing.is_open %}
        {% if user_id is not None %}
            {% if user_id|stringformat:"s" != listing.user_upload.id|stringformat:"s" %}
                {% if bid is not None %}
                    {% if user_id|stringformat:"s" != bid.user_id|stringformat:"s" %}
                        <form action="{% url 'bid' listing.id %}" method="post">
                            {% csrf_token %}
                            <input type="number" step="0.01" placeholder="Bid" id="bid_value" name="bid_value" required>
                            <input type="submit" value="Bid">
                        </form>
                    {% else %}
                        <p><b>You are the highest bidding right now!</b></p>
                    {% endif %}
                {% else %}
                    <form action="{% url 'bid' listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="number" step="0.01" placeholder="Bid" id="bid_value" name="bid_value" required>
                        <input type="submit" value="Bid">
                    </form>
                {% endif %}
            {% else %}
                <p><b>You are the owner of this listing!</b></p>
            {% endif %}
        {% else %}
            <p><b>You need to login to starting bid</b></p>
        {% endif %}
    {% else %}
        {% if user_id %}
            {% if user_id|stringformat:"s" == bid.user_id|stringformat:"s" %}
                <p><b>Congratulation! You won this item!!!</b></p>
            {% elif user_id|stringformat:"s" == listing.user_upload.id|stringformat:"s" %}
                <p><b>You have closed bidding for this item</b></p>
            {% else %}
                <p><b>Sorry! This item was close for bidding</b></p>
            {% endif %}
        {% endif %}
    {% endif %}
    
    <h4>Details</h4>
    <ul>
        <li> Listed by: {{ listing.user_upload }}</li>
        {% if listing.category %}
            <li> Category: {{ listing.category }}</li>
        {% else %}
            <li> Category: No Category Listed</li>
        {% endif %}

        {% if bid is not None %}
            <li> Last bidding by: {{ last_bidding }}</li>
        {% endif %}
    </ul>

    {% if user_id|stringformat:"s" == listing.user_upload.id|stringformat:"s" %}
        <form action="{% url 'close' listing.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Close Bidding">
        </form>
    {% endif %}
    
    <h4>Comments</h4>
    {% if user_id is not None %}
        <form action="{% url 'comment' %}" method="post">
            {% csrf_token %}
            <input type="text" value="{{ listing.id }}" name="listing_id" hidden>
            <textarea id="text" cols="100" rows="5" name="text"></textarea>
            <input type="submit" value="Post now!">
        </form>
    {% endif %}
    {% for comment in comments %}
        <div class="comment-sec">
            <h5>User: {{ comment.user }}</h5>
            <p>{{ comment.text }} <br><i>commented on {{ comment.created_on }}</i></p>
        </div>
    {% empty %}
        There is no comment yet
    {% endfor %}
{% endblock %}